<div id="waiting" class="container">
    <h4>COLLECTION WAITING TIME</h4>
    <table id="waiting-table">
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td>5:30-7:30 PM</td>
                <td>7:30-9:00 PM</td>
                <td>9:00-10:30 PM</td>
            </tr>
            <tr>
                <td class="row-line" colspan="4" valign="top"><hr /></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign="top">Friday-Saturday</td>
                <td>25 mins</td>
                <td>45-60 mins</td>
                <td>35 mins</td>
            </tr>
            <tr>
                <td><span class="bold-font">Sunday-Thursday</span></td>
                <td>25 mins</td>
                <td>35 mins</td>
                <td>25 mins</td>
            </tr>
        </tbody>
    </table>
</div>

