
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@section scripts{
        <script type="text/javascript">
            $(function () {
                $('#paypalForm').submit();
            })
        </script>
    }

    @if (ViewBag.WorldpayModel != null)
        {
            Html.RenderPartial("_Worldpay", (ThaiTable.Models.WorldpayViewModel)ViewBag.WorldpayModel);
        }
    <div>
    </div>
