
@{
    ViewBag.Title = "Delivery & Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Absolute-Center">

    <table>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="center" valign="bottom">
                <div style="font-size: 14px; color: #000000; text-align: center; font-weight: bold;">

                    We expect the online ordering system to be ready on Tuesday 25 August 2015. <br /> please call 01189471500 to order takeaway.We apologies for the inconvenience caused
                    </div>
</td>
        </tr>
        <tr>
            <td align="center">
                <div width="100px">
                    <button class=" color black button button-continue" onclick="window.location.href='@Url.Action("Menu", "Home")'">CONTINUE</button>
                </div>
            </td>
        </tr>
    </table>
</div>

